/* PHASE 5: Cats */
.content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 300px;
  min-width: 900px;
  position: relative;
}

.content-header img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.img-header {
  /* justify-content: space-between; */
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  width: 900px;
  flex-direction: row;
}

.img-header-text {
  /* display: flex; */
  color: white;
}

